@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* The checkbox hack */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
  display: block;
  background: #333;
  height: 3px;
  width: 20px;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.menu-icon span::before,
.menu-icon span::after {
  content: "";
  position: absolute;
  left: 0;
}

.menu-icon span::before {
  top: -6px;
}

.menu-icon span::after {
  top: 6px;
}

/* X icon when checked */
#menu-toggle:checked + label .menu-icon span {
  background: transparent;
}

#menu-toggle:checked + label .menu-icon span::before {
  transform: rotate(45deg);
  top: 0;
}

#menu-toggle:checked + label .menu-icon span::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Mobile menu drawer */
/* nav ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
} */

div:has(#menu-toggle:checked) ~ nav {
  @apply opacity-100 max-h-500;
}

/* Desktop sidebar */
@media (min-width: 768px) {
  /* header {
    display: flex;
  } */

  /* #menu-toggle,
  #menu-toggle + label {
    display: none;
  } */

  /* header nav {
    border-right: 1px solid #ddd;
    border-bottom: none;
    width: var(--nav-width);
    min-height: 100vh;
  } */

  /* nav ul {
    max-height: none;
  } */
}
