@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

section:first-of-type h2 {
  @apply mt-0;
}

.resume #download-resume-button {
  @apply inline-flex;
}

/* View Transitions */
@view-transition {
  navigation: auto;
}

::view-transition-old(headshot),
::view-transition-new(headshot),
::view-transition-old(name),
::view-transition-new(name),
::view-transition-old(tagline),
::view-transition-new(tagline) {
  animation-duration: 0.5s;
}

::view-transition-old(headshot),
::view-transition-new(headshot) {
  height: 100%;
  object-fit: cover;
}
